
.headerImage img{
    border-radius: 30px;
    width: 100%;
    box-shadow: #535bf2 0 0 30px;
    transition: 0.8s ease-in-out all;
}
.headerImage{
    width: 100%;
}
.headerImage img:hover{
    scale: 1.05;
}
.wrapper {
    display:  flex;
    width: 100%;
    border-radius: 30px;
    box-shadow: 3px 3px 10px;
    position:relative;
    padding-top: 7%;
    margin: 3vh 0;

}
.image {
    margin: 2vh;
}
.image img {
    border-radius: 30px;
    object-fit: cover;
    width: 100%;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    text-align: justify;
}
h2 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.buttonsWrapper, .weather{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:  3vh 0;
}
.myButton {
    width: 200px;
    box-shadow:  #535bf2 5px 5px 30px;
    cursor: pointer;
}
.myButton:focus {
    outline: none;
}
.text{
    color: white;
}
.photoWrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
}
.photoImage
{
    flex: 0 0 calc(50% - 10px); /* два в ряд */
    max-width: calc(50% - 10px);
    box-sizing: border-box;
}


.photoImage img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    display: block;
}

.wrapper-arch{
    padding: 20px;
    flex-direction: column;
}
.nav-tabs{
    list-style-type: none;
    padding-left: 0; /* Убирает отступ слева */
    display:  flex;
    flex-direction: row;
    justify-content: space-around;

}
.nav-tabs li {
    padding: 5px 70px;
    background-color: #747bff;
    border-radius: 20px;
}

.nav-tabs li a {
    color: white;
}

.nav-link {
    margin: 0 15px;
    padding: 5px 70px;
    background-color: #747bff;
    border-radius: 20px;
    color: white;
}

.profile-nav{
    display:  flex;
    flex-direction: row;
    justify-content: space-around;
}
.active {
    background-color: rgb(71, 78, 250);

}

