
.headerImage img{
    border-radius: 30px;
    width: 100%;
    box-shadow: #535bf2 0 0 30px;
    transition: 0.8s ease-in-out all;
}
.headerImage{
    width: 100%;
}
.headerImage img:hover{
    scale: 1.05;
}
.wrapper {
    display:  flex;
    width: 100%;
    border-radius: 30px;
    box-shadow: 3px 3px 10px;
    position:relative;
    padding-top: 7%;
    margin: 3vh 0;

}
.image {
    margin: 2vh;
}
.image img {
    border-radius: 30px;
    object-fit: cover;
    width: 100%;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    text-align: justify;
}
h2 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

}